:root
{
    --primary-color : #FFFFFF;
    --secondary-color : #000;
    --third-color : #3C3B6E;
    --fourth-color : #B22234;
    --color-prueba : #1e4376;
    --color-prueba2 : #2a548c;
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.header-section-1
{
    background-color: var(--color-prueba);
    padding: 40px 30px 40px 10px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-section-1 > .search-icon
{
    width: 50px;
    height: 50px;
    margin-right: 40px;
}

.header-section-1 > .menu-icon
{
    width: 100px;
    height: 90px;
}

.header-section-2{

    padding: 60px 30px 60px 30px;
    background-color: var(--color-prueba2);
    color: var(--primary-color);
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../imagenes/fondo-bandera-estados-unidos-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-section-2 > h1
{
    font-size: 60px;
}

main
{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-1
{
    width: 85%;
}

.section-1 > h2
{
    font-size: 45px;
    color : var(--color-prueba);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.main-section-1
{
    margin-top: 40px;
}

.main-section-1 > img
{
    width: 100%;
    height: 800px;
    margin-bottom: 35px;
}

.main-section-1 > p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    line-height: 1.8em;
}

