:root
{
    --primary-color : #FFFFFF;
    --secondary-color : #000;
    --third-color : #3C3B6E;
    --fourth-color : #B22234;
    --color-prueba : #1e4376;
    --color-prueba2 : #2a548c;
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.header-section-1
{
    background-color: var(--color-prueba);
    padding: 40px 30px 40px 10px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-section-1 > .search-icon
{
    width: 50px;
    height: 50px;
    margin-right: 40px;
}

.header-section-1 > .menu-icon
{
    width: 100px;
    height: 90px;
}

.header-section-2{

    padding: 60px 30px 60px 30px;
    background-color: var(--color-prueba2);
    color: var(--primary-color);
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../imagenes/fondo-bandera-estados-unidos-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-section-2 > h1
{
    font-size: 60px;
}

main
{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section
{
    width: 85%;
    margin: 40px 0px 40px 0px;
}

.titulo-seccion
{
    background-color: var(--color-prueba);
    font-size: 45px;
    color : white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
}


.main-section-1
{
    margin-top: 40px;
}

.main-section-1 > img
{
    width: 100%;
    height: 400px;
    margin-bottom: 35px;
}

p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    line-height: 1.8em;
}

.main-section-2{
    margin-top: 60px;
}

.main-section-2-containers{

    margin-top: 50px;
    margin-bottom: 50px;

}

.main-section-2-containers > h2{
    color: var(--color-prueba);
    font-size: 30px;
}

.main-section-2-containers > img{
    width: 100%;
    margin-bottom: 25px;
}

.desaparecer{
    display: none;
}

.portada-quiz{
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/*.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}*/

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Estilo general para el contenedor del quiz */
.portada-quiz {
  background: linear-gradient(to bottom, #003366 0%, #0077CC 100%);
  padding: 20px;
  color: white;
  text-align: center;
  border-radius: 5px;
}

/* Estilo para el botón del quiz */
.quiz-button {
  background: linear-gradient(to bottom, #0055CC 0%, #0099FF 100%);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 25px 10px;
  cursor: pointer;
  border-radius: 5px;
}

/* Cambio de color al pasar el cursor por el botón */
.quiz-button:hover {
  background: linear-gradient(to bottom, #0044AA 0%, #0088DD 100%);
}

/* Estilos generales del contenedor */
.mySlides{
  font-family: 'Arial', sans-serif;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  background: linear-gradient(to right, #74ABE2, #5563DE); /* Degradado azul */
}

/* Título del Quiz */
.quiz-title {
  color: white;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos para cada pregunta */
.question {
  color: #FFF;
  margin-bottom: 10px;
  font-size: 18px;
}

/* Estilos para las opciones */
.option {
  background: rgba(255, 255, 255, 0.3);
  border: none;
  color: white;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contenedor-preguntas{
  margin-left: 60px;
  margin-top: 20px;
}

.option:hover {
  background: rgba(255, 255, 255, 0.5);
}

/* Botón para enviar las respuestas */
.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #4461C2;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #33408D;
}

/* Estilo para botón de navegación en el quiz */
.navigation-btn {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 20px;
  background-color: #FFF;
  color: #4461C2;
  text-align: center;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.navigation-btn:hover {
  background-color: #E0E0E0;
}

.finish-button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.finish-button:hover {
  background-color: #45a049;
}


